<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/add}" th:object="${newTodo}"  method="post">
    <label for="addTodo" >Todo:</label>
    <input type="text" id="addTodo" th:field="*{title}"><br>
   <!-- <label for="addAssignee" >Assignee:</label>
    <input type="text" id="addAssignee" th:field="*{assignee}"><br>-->
    <input type="submit" value="Add">
</form>

</body>
</html>