<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<a th:href="@{/useful/colored}"> Colored Background </a><br>
<a href="http://localhost:8080/useful/email?address=is@this.valid"> Email </a><br>
<a href="http://localhost:8080/useful/encoder?number=1&text=example"> Encoder </a><br>
<a href="http://localhost:8080/useful/decoder?number=1&text=fybnqmf"> Decoder </a><br>
</body>
</html>